<!-- 底部 -->
<div class="footer">
  	<div class="warp clear">
   		<div class="footer_left clear">
        
        {%get name=typelist%}
			{%forlist from=$array key=i max=3%}
			<dl>
				<dt class="icon_0{%$i+1%}">{%$array[i].typename%}</dt>
				{%if count( $array[i].childArray ) > 0 %}
				{%forlist from=$array[i].childArray key=ii%}
				<dd><a href="{%$array[i].childArray[ii].link%}" title="{%$array[i].childArray[ii].typename%}">{%$array[i].childArray[ii].typename%}</a></dd>
				{%/forlist%}
				{%/if%}
			</dl>
			{%/forlist%}
		{%/get%}
        
        </div>
        <div class="footer_right"><img src="{%$rootpath%}images/tel.jpg" width="216" height="102"></div>
  	</div>
</div>
<div class="warp foote_bottom">
    <h6>版权所有 © 深圳友融金融公司 www.yourongjr.com {%$icp%} </h6>
    <h5></h5>
</div>
<!-- 底部End -->
<script>
$(window).load(function() {
	if($('.flexslider')){
		$('.flexslider').flexslider({
			directionNav: false,
			pauseOnAction: false
		});
	}
	if($('.cont_left dd .hot').length>0){
		$('.cont_left dd .hot').parent().parent().parent().find("em").addClass('hot');
	}
});
</script>
<script language="javascript" src="http://lr.zoosnet.net/JS/LsJS.aspx?siteid=LEF52480185&float=1&lng={%admin_LNG%}"></script>
</body>
</html>