<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>[%$softtitle%]</title>
<link href="templates/css/baselist.css" rel="stylesheet" type="text/css" />
<link href="templates/css/all.css" rel="stylesheet" type="text/css" />
<link href="templates/css/formdiv.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript" src="js/control.js"></script>
<script type="text/javascript" src="js/cityselect.js"></script>
<script type="text/javascript">

	var resizewindow= null;

	window.onresize = function(){
		var h = $(window).height();
		if(resizewindow!=h){
			sizewindow();
			resizewindow=h;
		}
	}

	function sizewindow(){
		var h = $(window).height();
		if(document.getElementById("mainbodybottonauto")){
			$('.managebottonadd').css({height:h-40});
		}
	}
	var ordermain_js_email_empty  = "[%$ST.ordermain_js_email_empty%]";
	var runok  = "[%$ST.run_ok%]";
	var runno  = "[%$ST.run_no%]";
	var iframename = "[%$iframename%]";
	$(document).ready(function(){
		var h = '[%$iframeheightwindow%]';
		$('.managebottonadd').css({height:h-40});
		sec_cityone([%$read.country%],[%$read.province%]);
		sec_citytwo([%$read.province%],[%$read.city%]);
		sec_district([%$read.city%],[%$read.district%]);
	})

	function paybotton(isclass){
		var um=document.getElementById('paybotton');
		var iframenamenow=self.frameElement.getAttribute('name');
		if (isclass==1) {
			um.innerHTML='<a class="setedit3" id="payadd" onclick="javascript:parent.onbotton(\'[%$ST.ordermain_view_paysubit_b02%]\',\'index.php?archive=payreceipt&action=payreceiptadd&oid=[%$read.oid%]&type=2&freshid='+Math.random()+'&iframename='+iframenamenow+'\',true,\'#payadd\');" href="#body" title="[%$ST.ordermain_view_paysubit_b02%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b02%]</a>'
		}else{
			um.innerHTML=''
		}
	}

	function shipbotton(isclass){
		var um=document.getElementById('shipbotton');
		var iframenamenow=self.frameElement.getAttribute('name');
		if (isclass==1) {
			um.innerHTML='<a class="setedit3" id="shipadd" onclick="javascript:parent.onbotton(\'[%$ST.ordermain_view_paysubit_b04%]\',\'index.php?archive=shipreceipt&action=shipreceiptadd&oid=[%$read.oid%]&type=2&freshid='+Math.random()+'&iframename='+iframenamenow+'\',true,\'#shipadd\');" href="#body" title="[%$ST.ordermain_view_paysubit_b04%]" hidefocus="true">[%$ST.ordermain_view_paysubit_b04%]</a>'
		}else{
			um.innerHTML=''
		}
	}

	function onwindow(loadurl){
		window.open(loadurl, "_blank");
	}
</script>
</head>

<body>
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">[%$ST.position_title%]</span><span class="colorgorningage">[%$ST.ordermain_view_mess%] <u>[%$read.ordersn%]</u> [%$ST.ordermain_edit_mess2%] <u>[%$read.addtime|timeformat(3)%]</u> </span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_view_priceinfo%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_infolist_text_spamount%]</td>
						<td class="trtitle02">[%$order_moneytype%][%$read.productmoney%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_paymoney%]</td>
						<td class="trtitle02">[%$order_moneytype%][%$read.paymoney%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_discount%]</td>
						<td class="trtitle02">[%$dis%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_edit_orderamount%]</td>
						<td class="trtitle02">([%$ST.ordermain_infolist_text_spamount%][%$order_moneytype%][%$read.productmoney%] - [%$ST.ordermain_edit_paymoney%][%$order_moneytype%][%$read.paymoney%]) / [%$ST.ordermain_infolist_text_zkamount%][%$read.discount%] = $[%$read.orderamount%]</td>
					</tr>
					[%if $read.paytime<=0%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_view_paybotton%]</td>
						<td class="trtitle02">[%$orderonline%]</td>
					</tr>
					[%else%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_text_read_paysn%]</td>
						<td class="trtitle02">[%$read.paysn%]</td>
					</tr>
					[%/if%]
					<tr class="trstyle2">
						<td class="trtitle03" colspan="2">[%$ST.ordermain_add_countinfo%]</td>
					</tr>
					[%if $member.username%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.enquirymain_add_userid%]</td>
						<td class="trtitle02">[%$member.username%] [%if @this->powercheck('member','memberedit')==true %]<a class="tabclicklink" onclick="javascript:parent.onbotton('[%$ST.viewmember_botton%]','index.php?archive=membermain&action=memberedit&userid=[%$member.userid%]&isclose=1&type=edit&freshid='+Math.random()+'&iframename='+self.frameElement.getAttribute('name'),true,'memberedit[%$member.userid%]',self.frameElement.getAttribute('name'));" id="memberedit[%$member.userid%]" href="#body" title="[%$member.username%]" hidefocus="true">[%$ST.viewmember_botton%]</a> [%/if%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.enquirymain_add_userid2%]</td>
						<td class="trtitle02">[%$member.userid%]</td>
					</tr>
					[%/if%]
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_alias%]</td>
						<td class="trtitle02">[%$read.consignee%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_tel%]</td>
						<td class="trtitle02">[%$read.tel%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_motel%]</td>
						<td class="trtitle02">[%$read.mobile%]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">[%$ST.ordermain_add_email%]</td>
						<td class="trtitle02">[%$read.email%]</td>
					</tr>
					<tr class="trstyle2" id="select4">
						<td class="trtitle01">[%$ST.ordermain_add_country%]</td>
						<td class="trtitle02">
							<select size="1" name="cityone" class="select" id="cityone" disabled>
								<option [%if $read.country==0%]selected [%/if%]value="0">[%$ST.ordermain_add_country_option%]</option>
								<option [%if $read.country==1%]selected [%/if%]value="1">[%$ST.ordermain_add_country_value%]</option>
							</select>
							<select size="1" name="citytwo" class="select" id="citytwo" disabled>
								<option value="0">[%$ST.ordermain_add_province_option%]</option>
							</select>
							<select size="1" name="citythree" class="select" id="citythree" disabled>
								<option value="0">[%$ST.ordermain_add_city_option%]</option>
							</select>
							<select size="1" name="district" class="select" id="district" disabled>
								<option value="0">[%$ST.ordermain_add_district_option%]</option>
							</select>
							<span id="cityloading">Loading…</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr id="bottonsubmit">
				<td align="center">
					<input type="button" name="cancel" onClick="javascript:parent.onaletdoc();" value="[%$ST.botton_view_reset%]" class="button orange" />
				</td>
			</tr>
		</table>
	</div>
</div>
</body>

</html>      