
{%link file="cn/public/header.html"%}

<!-- 广告 -->
<div class="banenr">
    <div class="flexslider">
    	<!-- 开户 -->
         <div class="banner_box">
            <div class="account">
            	<form method="get" action="{%$rootdir%}index.php?ac=member&amp;at=reg">
                <h6>欢迎您加入skyline</h6>
                <dl>
                    <dt>开设交易账户</dt>
                    <dd><input name="lastName" type="text" value="名" onFocus="this.value=''" onBlur="if(!value){value=defaultValue;}"></dd>
                    <dd><input name="firstName" type="text" value="姓" onFocus="this.value=''" onBlur="if(!value){value=defaultValue;}"></dd>
                    <dd><input name="email" type="text" value="邮箱" onFocus="this.value=''" onBlur="if(!value){value=defaultValue;}"></dd>
                    <dd><input name="phone" type="text" value="我的手机" onFocus="this.value=''" onBlur="if(!value){value=defaultValue;}"></dd>
                    <dd><input name="password" type="text" value="选择您的密码" onFocus="this.value=''" onBlur="if(!value){value=defaultValue;}"></dd>
                </dl>
                <input type="hidden" name="ac" value="member">
                <input type="hidden" name="at" value="reg">
                <span><input type="submit" value=""></span>
                </form>
            </div>
            <script>
			</script>
        </div>
        
        {%get name=bann class=atid:1,adtype:1,max:3%}
		<ul class="slides">
			{%forlist from=$array key=i%}
            <li style="background: url({%$rootdir%}{%$array[i].filename%}) 50% 0 no-repeat;"><a alt="{%$array[i].title%}" target="_blank" href="{%$array[i].url%}"></a></li>
			{%/forlist%}
		</ul>
		{%/get%}

    </div>
</div>
<!-- 广告End -->
<!-- 数据标题 -->
<div class="data">
	<div class="warp" id="marqueeTopParent"></div>
</div>
<!-- 数据标题End -->
<!-- 内容区域 -->
<div class="warp clear">
	<div class="content clear">
    	<div class="content_left">
        	<div class="trade">
                <div class="title_top"><img src="{%$rootpath%}images/dn.jpg">交易Trade</div>
                <div class="trade_box">
      
<script type="text/javascript">
	var urlParams;
	var platDir = 'LTR';
	(window.onpopstate = function () {
		var match,
			pl     = /\+/g,  // Regex for replacing addition symbol with a space
			search = /([^&=]+)=?([^&]*)/g,
			decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
			query  = window.location.search.substring(1);
	
		urlParams = {};
		while (match = search.exec(query))
		   urlParams[decode(match[1])] = decode(match[2]);
	})();
	
	
	if (typeof(urlParams.lang) == "undefined")
		platformLang= "{%admin_LNG%}";
	else{
		platformLang = urlParams.lang;
		if(urlParams.lang == "ar" || urlParams.lang == "he")
			 platDir = 'RTL';
	}
	
	SO.load({
		lang : platformLang,
		 dir: platDir,
		cookieOptions : {
			domain : '.sky9fx.com'
		},
		packages : {
			RegularPlatform : {
				settings : {
					selector : '#so_container'
				}
			},
			Clock : {},
			Balance : {}
		}
	});
</script>
<div id="so_container"></div>


                </div>
                <div class="platform">
                	<a href="{%$rootdir%}index.php?ac=member&amp;at=reg" class="platform_left"><img src="{%$rootpath%}images/ab_left.jpg"></a>
                    <a href="{%$rootdir%}index.php?ac=member&amp;at=reg" class="platform_right"><img src="{%$rootpath%}images/ab_right.jpg"></a>
                </div>
            </div>
        </div>
        <div class="content_right">
        	<!-- 记录 -->
        	<div class="record">
                <div class="title_top"><img src="{%$rootpath%}images/dn.jpg">交易记录</div>
                <dl>
                	<dt><img src="{%$rootpath%}images/xq.jpg"></dt>
                    <dd>
                    	<ul>
						{%get name=bann class=atid:9,adtype:3,max:6%}
							{%forlist from=$array key=i%}<?php $tradeRecords=explode('|',$array[$i][content]);?>
							<li>
                            	<div class="name"><img src="{%$rootpath%}images/icon_0{%$tradeRecords.0%}.png">{%$tradeRecords.1%} <span class="{%$tradeRecords.2%}">{%$tradeRecords.3%}</span></div>
                                <em></em>
                                <i>{%$tradeRecords.4%}</i>
                            </li>
							{%/forlist%}
						{%/get%}
                        </ul>
                    </dd>
                </dl>
            </div>
            <!-- 视频 -->
            <div class="video mt30">
                <div class="title_top"><img src="{%$rootpath%}images/video.jpg">视频</div>
                <div class="video_box">
                	{%get name=bann class=atid:8,adtype:1,max:1%}
                    {%forlist from=$array key=i%}
                    <a title="{%$array[i].title%}" target="_blank" href="{%$array[i].url%}"><img alt="{%$array[i].title%}" border="0" src="{%$rootdir%}{%$array[i].filename%}"></a>
                    {%/forlist%}
                    {%/get%}
                </div>
                <div class="mt30"><img src="{%$rootpath%}images/tp_02.jpg"></div>
                <div class="mt30"><a href="{%$rootdir%}index.php?ac=payment&amp;at=order"><img src="{%$rootpath%}images/tp_03.jpg"></a></div>
            </div>
        </div>
    </div>
</div>
<!-- 广告 -->
<div class="warp choice">
	<dl>
    	<dt>为什么选择我们？</dt>
        <dd>我们致力提供最优质的24小时保证金外汇、贵金属在线交易服务。已在超过160个国家开展金融衍生品交易业务。通过一个易信账户投资者可以交易各类金融产品，可供选择的交易平台包括网页平台、桌面平台、手机平台以及MT4平台。SKY始终坚持为交易者提供人性化交易平台、保证止损、无隐藏费用、优势固定点差、执行迅速、无滑点以及先进的图表工具。易信的客户服务经理根据每位客户的程度提供免费培训，同时易信的交易室还提供即时市场信息并为VIP贵宾客户提供独家工具，以帮助交易者在交易中更上一层楼。</dd>
    </dl>
</div>
<!-- 文章 -->
<div class="warp clear">
	<div class="content clear">
    	<div class="content_left">
        	<div class="trade">
                <div class="title_top"><img src="{%$rootpath%}images/rl.jpg">财经日历<!--<a href="#">更多>>--></a></div>
                <div class="calendar">
               		 <iframe width="790" height="230" scrolling="no" frameborder="0" src="http://www2.m-
finance.net:9090/lfc/website/cn/iframe/econdata_home.jsp?data=1&amp;lang=big5&amp;parentpath=http%3A%2F%2Fwww.lungfu-
capital.com%2Fjinrongguanli%2Ftc%2F" id="iframeContent002"></iframe>
                </div>
            </div>
        	<div class="trade mt30">
                <div class="title_top"><img src="{%$rootpath%}images/cj.jpg">财经新闻<!--<a href="#">更多>>--></a></div>
                <div class="dinance">
                    <iframe width="790" height="300" scrolling="no" frameborder="0" src="http://www2.m-
finance.net:9090/lfc/website/cn/iframe/day_plan_home.jsp?parentpath=http%3A%2F%2Fwww.lungfu-capital.com%2Fjinrongguanli
%2Ftc%2F" id="iframeContent001"></iframe>
                </div>
            </div>
        </div>
        <div class="content_right">
        	<!-- 交易 -->
        	<div class="record">
                <div class="title_top"><img src="{%$rootpath%}images/dn.jpg">移动版交易平台</div>
                <div class="code"><img src="{%$rootpath%}images/wz.jpg"></div>
            </div>
        </div>
    </div>
</div>
<!-- 广告 -->
<div class="warp certificate">
	<div class="certificate_left clear">
	{%get name=bann class=atid:2,adtype:1,max:2%}
		{%forlist from=$array key=i%}
		<dl>
			<dt><img src="{%$rootdir%}{%$array[i].filename%}" title="{%$array[i].content%}"/></dt>
			<dd>{%$array[i].title%}</dd>
		</dl>
		{%/forlist%}
	{%/get%}
    </div>
	<div class="certificate_right clear">
    {%get name=bann class=atid:3,adtype:1,max:6%}
		{%forlist from=$array key=i%}
		<dl>
			<dt><img src="{%$rootdir%}{%$array[i].filename%}" title="{%$array[i].content%}"/></dt>
			<dd>{%$array[i].title%}</dd>
		</dl>
		{%/forlist%}
	{%/get%}
    </div>
</div>

<!-- 内容区域End -->
<!-- 合作机构 -->
<div class="warp">
    <div class="title_top mt30"><img src="{%$rootpath%}images/jg.jpg">合作机构</div>
    <div class="mechanism">
        {%get name=bann class=atid:4,adtype:1,max:4%}
		{%forlist from=$array key=i%}
		<a title="{%$array[i].title%}" target="_blank" href="{%$array[i].url%}"><img alt="{%$array[i].title%}" border="0" src="{%$rootdir%}{%$array[i].filename%}" width="273" height="105"></a>
		{%/forlist%}
		{%/get%}
    </div>
</div>
<!-- 合作机构End -->

{%link file="cn/public/foot.html"%}
